@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To Calculate your calories</p>
    <a class="btn btn-primary btn-lg" asp-action="Steps" asp-controller="Pedometer">Click Here</a>
</div>
