@model double
<div class="text-center border">
    <h1>Calories Burned</h1>
    <h1>@Model</h1>
    <br />
    <a class="btn btn-primary btn-lg" asp-action="Steps" asp-controller="Pedometer">Back</a>
    <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Home">Home</a>
</div>